.ui-container {
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;

    width: 100%;
    height: 100%;

    pointer-events: none;

    .ui-area {
        display: flex;

        > * {
            pointer-events: auto;
        }
    }
}

.add-ui {
    > .main {
        flex: 1;
    }

    > .right-sidebar {
        flex: 0;

        .emoji-buttons {
            align-self: flex-end;

            margin-bottom: 30px;
        }
    }    
}

