$hover-color: #343d46;
$active-color: $hover-color;

.emoji-buttons {
    display: flex;
    flex-direction: column-reverse;

    &.expanded {
        .button.expand {
            background-color: $active-color;
        }

        .button.add {
            opacity: 1;
        }
    }

    .button {
        width: 48px;
        height: 48px;

        $padding: 4px;

        padding: $padding;
        margin: 4px;

        line-height: 0;
        background-color: white;
        border-radius: 37px;
        box-shadow: 2px 3px rgba(0,0,0, 0.5);

        transition: opacity 0.3s;

        &:hover {
            background-color: $hover-color;
            cursor: pointer;
        }

        > img {
            width: 48px;
            height: 48px;
        }

        &.expand {
            position: relative;

            > img {
                width: 32px;
                height: 32px;
                position: absolute;

                &:nth-child(2) {
                    left: $padding + 4px;
                    top: $padding + 4px;
                }

                &:nth-child(1) {
                    left: $padding + 12px;
                    top: $padding + 12px;
                }
            }
        }

        &.add {
            opacity: 0;
        }
    }
}

