.add-ui {
    .save {
        align-self: center;
        display: flex;
        justify-content: center;

        width: 100%;

        .dialog {
            display: flex;
            flex-wrap: wrap;

            margin: 8px;
            border-radius: 8px;
            box-shadow: 2px 3px rgba(0,0,0, 0.5);

            background-color: white;
            > * {
                margin: 4px;
            }

            input.commentary {
                flex: 1;
                align-self: flex-end;

                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;

                border: none;
                border-bottom: 1px solid black;             

                &:focus {
                    outline: none;
                }
            }

            .decorative-quote {
                align-self: flex-end;

                margin-bottom: 8px;

                font-size: 1.5rem;
            }

            .hint {
                color: #ccc;
                font-size: .75rem;
            }

            .send {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                .action {
                    &:hover {
                        cursor: pointer;
                    }

                    > img {
                        width: 32px;
                        height: 32px;
                        margin: 4px;
                    }
                }
               
            }
        }
    }
}